@media screen and (max-width:576px) {
    
        .hamburger{
        display: block;
        color: white;

    }
    .nav-menu{
        display: none;
    }
    .banner-section{
        flex-direction: column;
       width: 100%;
      
    }
    .banner-child{
        width: 100%;
        padding: 10px;
     
    }
    .banner-title{
        margin-top: 0;
        text-align: start;
    }
    .banner-text{
        text-align: start;
    }
    .first{
        top: 48%;
        left: 18%;
       
    }
   .second{
    top: 10%;
    left:55%;
 
 
   
   }
   .habits{
    width: 100%;
   }
   .container-habits{
    grid-template-columns: repeat(1, 1fr);
   }
   .run-container{
    flex-direction: column;
    width: 100%;
    gap: 20px;
   }
   .run-child{
    width: 100%;
   }
   .run-button{
    margin: 0 auto;
   }
   .bmi{
    width: 100%;
   }
   .bmi> h1, p{
    text-align:left;
   }
   .chart-title{
    text-align: left;
   }
   
   
   .bmi-box{
    width: 100%;
    flex-direction: column;
    padding: 10px;
   
   }
   .team-container{
    grid-template-columns: repeat(1, 1fr);
    background-color: black;
 
   }
   .team-card{
    width: 65%;
   }
   .team{
    width: 100%;
   }
   .rate{
    width: 100%;
   }

   .parent{
    grid-template-columns: repeat(1, 1fr);
   
    
   }
   .card-rate{
    width: 80%;
    margin: 10px auto;
    
   }

   .footer{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
   }
   .line{
    width: 100%;
   }

  
   
   
   
}