@media screen and (max-width:576px) {
    
        .hamburger{
        display: block;

    }
    .nav-menu{
        display: none;
    }
    .banner-section{
        flex-direction: column;
       width: 100%;
      
    }
    .banner-child{
        width: 100%;
        padding: 10px;
     
    }
    .banner-title{
        margin-top: 0;
        text-align: start;
    }
    .banner-text{
        text-align: start;
    }
    .first{
        top: 48%;
        left: 18%;
    }
   .second{
    top: 10%;
    left:56%;
   }
   .habits{
    width: 100%;
   }
   .container-habits{
    grid-template-columns: repeat(1, 1fr);
   }
   .run-container{
    flex-direction: column;
    width: 100%;
    gap: 20px;
   }
   .run-child{
    width: 100%;
   }
   .bmi{
    width: 100%;
   }
   .bmi> h1, p{
    text-align:left;
   }
   .bmi-box{
    width: 100%;
    flex-direction: column;
   
   }
   .team-container{
    grid-template-columns: repeat(1, 1fr);
    background-color: black;
 
   }
   .team-card{
    width: 65%;
   }
   .team{
    width: 100%;
   }

   .footer{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
   }
   .line{
    width: 100%;
   }
  
   
   
   
}