
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400px;
    font-style: normal;
    font-variation-settings:
       0;
  }
  
  #mia-ma{
    font-family: 'Miama', sans-serif;
    font-size: 4.875rem;
    font-weight: 400px;
                                        
}                                                 
 
  *{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
  }
  /* nav-bar css starts here */
  header{
    /* margin-bottom: 50px; */
    background:linear-gradient(0deg, rgba(119, 119, 119, 1),  rgba(17, 17, 17, 1));
    
   
  }
  .nav-bar{
    border: 1px solid tomato;
    max-width: 1060px;
    margin: 0 auto;
    padding: 15px;
    display:flex ;
    justify-content: space-between;
  }
.nav-menu{
  background-color: rgba(0, 0, 0, 0.336);
/* border: 1px solid green; */
border-radius: 39px;
padding: 12px;

}
.nav-title{
    color: red;
    font-size:2.25rem;
    font-weight:800px;

}
.menu-item{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size:1.125rem ;
  font-weight: 400px;
  margin: 10px;
  
}
.home{
  background-color: rgba(230, 83, 60, 1);
  padding: 8px 20px;
  border-radius: 45px;
  
 

}
.hamburger{
  margin-top: 15px;
  display: none;
}
  /* nav-bar css ends here */

  /* banner- section css starts here  */
  
  
  .banner-section{
    max-width: 1060px;
    border: 1px solid tomato;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align:center;
    
  }
  .banner-child{
    /* border: 1px solid green; */
    width: 50%;
    position: relative;

  }
  .banner-title{
    margin-top: 150px;
    font-size: 4.875rem;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
  }
  .banner-text{
    font-size:1rem ;
    font-weight:400px ;
    color: rgba(255, 255, 255, 0.5);
  } 
  .button{
    margin-top: 20px;
}
  .btn-banner{
    border: none;
    border-radius: 45px;
    padding: 16px 45px;
    font-size:1.125rem ;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(230, 83, 60, 1);
    
  }
  #download-btn{
    background-color:rgba(0, 0, 0, 0.253);
  }
  
  .banner-child >img{
    width: 100%;
  }
  .video-tutorial{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 900px;
  }
  .tutorial-text{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400px;
  }
  .first{
    background-color:rgba(0, 0, 0, 0.562);
    padding:5px 25px ;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    left: -5%;
  }
  .second{
    background-color:rgba(0, 0, 0, 0.452);
    padding:5px 25px ;
    width: max-content;
    border-radius: 15px;
    position: absolute;
    left: 64%;
    top: 30%;

  }
  /* banner- section css ends here   */

  /* main section css starts  */

  /* habits css starts here */
  main{
    background-color: black;
  }
  .habits{
    width: 1060px;
    border: 1px solid tomato;
    min-height: 300px;
    margin: 0 auto;
   
    
  }
  .habits-title{
    font-size:3rem ;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
    text-align: center;

  }
  .habits-text{
    font-size:0.875rem ;
    font-weight:400px ;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

  }
  .container-habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   margin-left: 100px;
    
  }
  .card{
    /* border: 1px solid green; */
    width: 70%;
    padding: 10px;
    
  }
  .card>div img{
    width: 100%;
    clip-path: circle(48.6% at 50% 50%);
    object-fit: cover;
  }
  .card-title{
    font-size: 1.125rem;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    text-align:center;

  }
  .card-text{
    font-size: 0.875rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;

  }
  /* habits css ends here */

  /* run section css starts */
  .run-container{
    width: 1060px;
    margin: 0 auto;
    border: 1px solid tomato;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 18px;
  }
  .run-child{
    /* border: 1px solid green; */
    width: 40%;
   
  }
  .run-container> .run-child img{
    width: 100%;
    border-radius: 18px;
  }
  .run-title{
    font-size: 3rem;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
    
  }
  .run-text{
    font-size: 0.875rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
  }
  .run-button{
    
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
      }
  /* run section css ends */

  /* bmi css starts */
  .bmi{
    width: 1060px;
    border: 1px solid tomato;
    margin: 0 auto;
    padding: 10px;
   
  }
  .bmi> h1, p{
    text-align: center;
  
  }
  /* bmi css ends */

  /* bmi charts and form css starts */
  .measure{
    /* border: 1px solid purple; */
    margin-top: 90px;
    background-color: rgba(255, 255, 255, 0.192);
  }
  .bmi-box{
    width: 1060px;
    border: 1px solid tomato;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .chart-title{
    font-size:1.75rem ;
    font-weight: 900px;
    color:rgba(255, 255, 255, 1) ;
    margin-bottom: 20px;
    text-align: center;
  }
  .box-child{
    /* border: 1px solid green; */
    width: 100%;
    
  }
  .table-head{
    font-size: 1rem;
    font-weight: 500px;
    color: rgba(255, 255, 255, 1);
  }
  .table-column{
    font-size: 0.875rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
  }
  th, td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
  }
  table{
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
  }
  .input{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .form-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
   

  }
  .form{
    width: 50%;
    margin-top: 15px;
   
  }
  .select{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 10px 73px;
    /* margin: 0 auto; */

  }
  .gender{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
  }
  .activity-factor{
    width: 100%;
    margin-top: 15px;

  }
  .factor{
    font-size: 1rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 100%;

  }
  .calculate{
    padding: 15px 60px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* bmi charts and form css ends */

  /* team css starts here */
  .team{
    border: 1px solid tomato;
    margin-top: 50px;
    width: 1060px;
    margin: 0 auto;
   
   
    
  }
  .team-container{
    /* border: 2px solid white; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.192);
  

   
  
   
  }
  .team-card{
    width:90%;
    height: 250px;
    /* border: 1px solid green; */
    margin: 10px auto;
    position: relative;
    border-radius: 18px;
   
  
  }
  .team-card> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
  .trainer-title{
    font-size:1.25rem ;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 80%;
    
   
  }
  .trainer{
    font-size: 0.875rem;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    text-align: start;
    position: absolute;
    top: 88%;
  
  
  }
  /* team css ends here */





  /* main section css ends */
  